/* For use in src/lib/core/theming/_palette.scss */
$md-automl-demo: (
  50: #fff9e1,
  100: #fff1b3,
  200: #ffe781,
  300: #ffdd4e,
  400: #ffd628,
  500: #ffcf02,
  600: #ffca02,
  700: #ffc301,
  800: #ffbd01,
  900: #ffb201,
  A100: #ffffff,
  A200: #fffbf2,
  A400: #ffe9bf,
  A700: #ffe1a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);
